{% extends "layouts/base_normal.html" %}
{% block style %}
    <style>
        .dropdown-toggle::after {
            display: none !important;
        }
        .post-image {
            width: 100%;
            height: auto;
            max-height: 500px;
            object-fit: cover;
        }

        .answer-img {
            display: none;
        }
        .see-attachment {
            cursor: pointer;
            color: #007bff;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block title %}Post Details{% endblock %}

{% block content %}
<div class="container shadow bg-white rounded p-5">
    <div class="mb-3">
        <a href="/posts/topic/{{ post.topic }}" class="btn btn-info py-1 px-2" style="--bs-btn-border-color: #a6d765; --bs-btn-hover-border-color: #68b89f; --bs-btn-bg: #a6d765; --bs-btn-hover-bg: #68b89f;">
            {{ post.topic }}
        </a>
    </div>
    <h2>{{ post.title }}</h2>
    <p class="text-secondary"><small>Published at {{ post.date }}<br>
        by {{ profilename }}</small></p>

    <p class="justify-pre-wrap">{{ post.question }}</p>
    {% if post.post_pic %}
        <img src="{{ url_for('static', filename='uploads/post/img/' + post.post_pic) }}" alt="Post Picture" class="post-image mb-3 rounded">
    {% endif %}

    <!-- Like/Unlike button -->
    <form class="like-form d-flex justify-content-end" method="POST" action="#">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p class="text-danger my-auto like-count" style="font-weight: 700;">{{ post.like_count }}</p>
        {% if post._id in user_likes %}
            <button type="button" class="btn bg-transparent like-button border-0" data-action="unlike" data-post-id="{{ post._id }}">❤️</button>
        {% else %}
            <button type="button" class="btn bg-transparent like-button border-0" data-action="like" data-post-id="{{ post._id }}">🤍</button>
        {% endif %}
    </form>
</div>
<!-- Answer Section -->
<div class="container shadow bg-light rounded p-5 mt-4">
     <!-- Answer Form -->
     <form id="answer-form" action="{{ url_for('answer_post', post_id=post._id) }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
        <div class="form-group">
            <textarea class="form-control" name="answer" placeholder="Your answer" required></textarea>
        </div>
        <div class="form-group mt-2">
            <label for="answer_pic">Attach a picture (optional):</label>
            <input type="file" name="answer_pic" class="form-control-file" id="answer_pic">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Post Answer</button>
    </form>
</div>
<div class="container shadow bg-light rounded p-5 mt-4">
    <h3>Answers</h3>
    <div id="answers-container">
        {% for answer in answers %}
            <div class="answer border-bottom mb-3 bg-success-subtle rounded p-4">
                <small class="text-secondary">Answered by {{ answer.username }} on {{ answer.date }}</small>
                <p class="mb-1">{{ answer.content }}</p>
                
                {% if answer.answer_pic %}

                    <p class="see-attachment" onclick="toggleImage(this)">See attachment</p>
                    <img id="img-{{ answer._id }}" src="{{ url_for('static', filename='uploads/answer/img/' + answer.answer_pic) }}" alt="Answer Picture" class="img-fluid mb-3 rounded answer-img" data-answer-id="{{ answer._id }}" style="height: 200px;">
                {% endif %}
                
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal for image display -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true" style="--bs-modal-width: 80%;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img id="modal-image" src="" class="img-fluid" alt="Answer Picture">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Function to handle like/unlike button clicks
    $('.like-button').click(function() {
        var button = $(this);
        var action = button.data('action');
        var postId = button.data('post-id');
        var url = action === 'like' ? '/like_post/' + postId : '/unlike_post/' + postId;

        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': $('input[name="csrf_token"]').val()
            },
            success: function(response) {
                if (response.success) {
                    button.closest('form').find('.like-count').text(response.like_count);
                    if (action === 'like') {
                        button.data('action', 'unlike').text('❤️');
                    } else {
                        button.data('action', 'like').text('🤍');
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Something went wrong. Please try again.');
            }
        });
    });

    // Function to handle answer form submission
    $('#answer-form').submit(function(event) {
        event.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response)
                if (response.success) {
                    // Append new answer to the container
                    var newAnswer = `
                        <div class="answer border-bottom mb-3 bg-success-subtle rounded p-4">
                            <small class="text-secondary">Answered by ${response.answer.username} on ${response.answer.date}</small>
                            <p>${response.answer.content}</p>
                            ${response.answer.answer_pic ? '<img src="' + response.answer.answer_pic + '" alt="Answer Picture" class="img-fluid mb-3 rounded" style="height: 200px;">' : ''}
                        </div>
                    `;
                    $('#answers-container').append(newAnswer);
                    $('#answer-form')[0].reset();
                    alert('Answer posted successfully!');
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Something went wrong. Please try again.');
            }
        });
    });
     // Function to toggle image visibility
     window.toggleImage = function(element) {
        var img = $(element).next('img');
        img.toggle();
        var text = img.is(':visible') ? 'Hide attachment' : 'See attachment';
        $(element).text(text);
    };

     // Function to handle image click and display in modal
     $('#answers-container').on('click', '.answer-img', function() {
        var img = $(this);
        var src = img.attr('src');
        $('#modal-image').attr('src', src);
        $('#imageModal').modal('show');
    });
});
</script>
{% endblock %}
