{% extends "layouts/base_normal.html" %}

{% block title %}Edit Post{% endblock %}

{% block style %}
<style>
    .flashes {
        list-style-type: none;
        padding: 0;
    }
    .flashes li {
        color: red;
    }
    #post_pic_preview {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container bg-white rounded shadow p-5">
    <h2>Edit Post</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('edit_post', post_id=post._id) }}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
        </div>

        <div class="mb-3">
            <label for="question" class="form-label">Question:</label>
            <textarea class="form-control" id="question" name="question" rows="3" required>{{ post.question }}</textarea>
        </div>

        <div class="mb-3">
            <label for="topic" class="form-label">Topic:</label>
            <select class="form-select" id="topic" name="topic" required>
                {% if not topics %}
                    <option value="new_topic">Create a new topic</option>
                {% else %}
                    {% for topic in topics %}
                        <option value="{{ topic.name }}" {% if topic.name == post.topic %}selected{% endif %}>{{ topic.name }}</option>
                    {% endfor %}
                    <option value="new_topic">Other</option>
                {% endif %}
            </select>
        </div>

        <div id="new_topic_div" class="mb-3" style="display: none;">
            <label for="new_topic" class="form-label">New Topic:</label>
            <input type="text" class="form-control" id="new_topic" name="new_topic">
        </div>
        
        <div class="mb-3">
            <label for="post_pic" class="form-label">Post Picture (optional):</label>
            <input type="file" class="form-control" id="post_pic" name="post_pic" onchange="previewImage(this)">
            {% if post.post_pic %}
                <img id="post_pic_preview" src="{{ url_for('static', filename='uploads/post/img/' + post.post_pic) }}" alt="Post Picture" style="height: 300px;;">
                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="remove_pic" name="remove_pic">
                    <label class="form-check-label" for="remove_pic">Remove Picture</label>
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-success">Update Post</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    function toggleNewTopicDiv() {
        var newTopicDiv = document.getElementById('new_topic_div');
        var topicSelect = document.getElementById('topic');
        if (topicSelect.value === 'new_topic') {
            newTopicDiv.style.display = 'block';
        } else {
            newTopicDiv.style.display = 'none';
        }
    }
    
    function previewImage(input) {
        var preview = document.getElementById('post_pic_preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
        }
    }

    // Add event listener to the topic dropdown
    document.getElementById('topic').addEventListener('change', toggleNewTopicDiv);
    
    // Initial check when the page loads
    toggleNewTopicDiv();
</script>
{% endblock %}
