<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Normal User Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {% block style %}
        
    {% endblock %}
</head>
<body class="bg-success bg-gradient">
    {% if 'username' in session %}
    {% include 'layouts/components/header.html' %}
    {% endif %}

    <main class="container mt-4">
        <div class="shadow rounded p-3 bg-white">
            {% block content %}
            <!-- Main content will be injected here -->
            {% endblock %}
        </div>
    </main>

    {% include 'layouts/components/footer.html' %}

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block script %}
        
    {% endblock %}

</body>
</html>
