        body {
            padding-top: 6rem !important;
            font-family: 'Times New Roman', Times, serif !important;
        }

        .justify-pre-wrap {
            text-align: justify;
            white-space: pre-wrap;
        }

        .img-fluid {
            transition: all 0.3s ease;
        }
        .img-expanded {
            width: auto !important;
            height: auto !important;
        }

        .dropdown-toggle::after {
            display: none !important;
        }
        
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        /* Ensure the content is still scrollable */
        .no-scrollbar {
            overflow-y: scroll;
        }
