        body {
            padding-top: 6rem !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }

        .justify-pre-wrap {
            text-align: justify;
            white-space: pre-wrap;
        }

        .img-fluid {
            transition: all 0.3s ease;
        }
        .img-expanded {
            width: auto !important;
            height: auto !important;
        }

        .dropdown-toggle::after {
            display: none !important;
        }
        
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        .no-scrollbar::-webkit-scrollbar-track {
            background-color: rgb(241, 241, 241);
            border-radius: 5px;
        }
        .no-scrollbar::-webkit-scrollbar-thumb {
            background: red; 
            border-radius: 10px;
          }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: scrollbar; /* IE and Edge */
            scrollbar-width: 8px; /* Firefox */
        }

        /* Ensure the content is still scrollable */
        .no-scrollbar {
            overflow-y: scroll;
        }
