<header class="navbar navbar-expand-lg navbar-light bg-white navbar-custom fixed-top shadow rounded mx-5 my-4 p-3">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('forum' ) }}" style="font-weight: 700;">Fohety</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('forum') }}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('topics') }}">Topics</a>
                </li>
                 
            </ul>
            <a class="ms-lg-3 dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if session.get('photo') and session.get('photo') != '' %}
                    <img src="{{ url_for('static', filename='uploads/profile_pics/' + session.get('photo')) }}" alt="Profile Picture" class="rounded-circle">
                {% else %}
                    <img src="{{ url_for('static', filename='uploads/profile_pics/default.jpg') }}" alt="Default Profile Picture" class="rounded-circle" style="height: auto; width: 40px;">
                {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
