{% extends "layouts/base_normal.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="post" action="{{ url_for('login') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required value="{{ request.form.username }}"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Login">
</form>

<p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
{% endblock %}
