{% extends "layouts/base_normal.html" %}
{% block style %}
    <style>
        .dropdown-toggle::after {
            display: none !important;
        }
        
    </style>
{% endblock %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <div class="container bg-info-subtle rounded p-4">
                    <p class="m-0"><span>{{ message }}</span></p>
                </div>
                {% endfor %}
        {% endif %}
        {% endwith %}
    
        {% if session['user_id'] %}
        <div class="container shadow bg-white rounded p-4 mb-3">
            <div class="input-group">
                <i class="bi bi-plus-square-fill input-group-text text-primary fs-5" id="create-input-group"></i>
                <input type="text" id="createPostInput" class="form-control" placeholder="Click here to create a new post" readonly>
            </div>
            <div id="createPostForm" style="display: none;">
                {% include 'posts/create_post.html' %}
            </div>
        </div>
        {% endif %}

            <div class="overflow-y-scroll" style="max-height: 200vh;">
                {% if session['user_id'] %}
                    <h3 class="mt-4 text-body-tertiary">Recommended Posts</h3>
                    <hr>
                    <ul class="list-group rounded">
                        {% if not recommendations %}
                            <div class="container bg-info-subtle rounded p-4">
                                <p class="m-0"><span>No recommendation posts</span></p>
                            </div>
                        {% endif %}
                    
                        {% for post in recommendations %}
                            <li id="post-{{ post._id }}" class="list-group-item container shadow bg-white rounded p-4 my-3 px-5">
                                
                                
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="/posts/topic/{{ post.topic }}" class="btn btn-info bg-gradient text-light py-1 px-2 mb-2"><small>{{ post.topic }}</small></a>
                                    <h4 class="post-item m-0">{{ post.title|truncate(100, True)|safe }}</h4>
                                    </div>
                                    
                                    <div class="dropdown">
                                        <button class="btn bg-transparent border-0 dropdown-toggle p-0" type="button" id="postOptions-{{ post._id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span style="font-weight: 900;"><i class="bi bi-three-dots fs-4 p-0"></i></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="postOptions-{{ post._id }}">
                                            <li><a class="dropdown-item" href="{{ url_for('post_detail', post_id=post['_id'] ) }}">Details</a></li>
                                            {% if post.id_user == session['user_id'] %}
                                                <li><a class="dropdown-item" href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a></li>
                                                <li>
                                                    <form method="POST" action="{{ url_for('delete_post', post_id=post._id) }}" style="display: inline;">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                        <button type="submit" class="dropdown-item">Delete</button>
                                                    </form>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            
                                <p class="text-secondary"><small>Published at {{ post.date }}
                                    by <a href="{{ url_for('profile', user_id=post.id_user ) }}">{{ post.author }}</a></small>  
                                    {% if post.author_status == 'verified' %}
                                    {% if post.author_role == 'expert' %}
                                        <span class="badge rounded-pill text-bg-primary">Expert</span>
                                    {% elif post.author_role == 'admin' %}
                                        <span class="badge rounded-pill text-bg-danger">Admin</span>
                                    {% elif post.author_role == 'normal' %}
                                        <span class="badge rounded-pill text-bg-warning">Genius</span>
                                    {% endif %}
                                {% endif %}
                            </p>
                        
                            <p class="justify-pre-wrap">{{ post.question|safe }}</p>

                            
                                {% if post.post_pic %}
                                    <img src="{{ url_for('static', filename='uploads/post/img/' + post.post_pic) }}" alt="Post Picture" id="post-image" class="img-fluid mb-2 rounded object-fit-cover w-100" style="height: 300px;">
                                {% endif %}
                                <!-- Like/Unlike button -->
                                <div class="d-flex justify-content-end">
                                    <form class="like-form d-flex" method="POST" action="#">
                                                                
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        {% if post._id in user_likes %}
                                            <button type="button" class="btn bg-transparent like-button text-primary border-0 p-1" data-action="unlike" data-post-id="{{ post._id }}">
                                                <i class="bi bi-hand-thumbs-up-fill liked"></i>
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn bg-transparent like-button text-primary border-0 p-1" data-action="like" data-post-id="{{ post._id }}">
                                                <i class="bi bi-hand-thumbs-up not-liked"></i>
                                            </button>
                                        {% endif %}
                                        <p class="text-primary my-auto like-count" style="font-weight: 700;">{{ post.like_count }}</p>

                                    </form>
                                    <div class="d-flex">
                                        <a href="{{ url_for('post_detail', post_id=post['_id'] ) }}" class="btn bg-transparent border-0 p-1"><i class="bi bi-chat-text-fill text-body-tertiary ms-2"></i></a>
                                        <p class="text-body-tertiary my-auto" style="font-weight:200;">{{ post.answer_count }}</p>

                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                
                
                <h3 class="mt-4 text-body-tertiary">Posts</h3>
                <hr>

                {% endif %}
                <ul class="list-group rounded">
                    {% if not posts %}
                        <div class="container bg-info-subtle rounded p-4">
                            <p class="m-0"><span>No posts</span></p>
                        </div>
                    {% endif %}
                    {% for post in posts %}
                    <li id="post-{{ post._id }}" class="list-group-item container shadow bg-white rounded p-4 mb-3">
                        <a href="/posts/topic/{{ post.topic }}" class="btn btn-info bg-gradient text-light py-1 px-2 mb-3"><small>{{ post.topic }}</small></a>
                        
                        <div class="d-flex justify-content-between text-align-center">
                            
                            <h4 class="post-item">{{ post.title|safe }}</h4>
                            
                            <div class="dropdown">
                                <button class="btn bg-transparent border-0 dropdown-toggle" type="button" id="postOptions-{{ post._id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span style="font-weight: 900;"><i class="bi bi-three-dots fs-5"></i></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="postOptions-{{ post._id }}">
                                    <li><a class="dropdown-item" href="{{ url_for('post_detail', post_id=post['_id'] ) }}">Details</a></li>
                                    {% if post.id_user == session['user_id'] %}
                                        <li><a class="dropdown-item" href="{{ url_for('edit_post', post_id=post._id) }}">Edit</a></li>
                                        <li>
                                            <form method="POST" action="{{ url_for('delete_post', post_id=post._id) }}" style="display: inline;">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <button type="submit" class="dropdown-item">Delete</button>
                                            </form>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    
                        <p class="text-secondary"><small>Published at {{ post.date }}
                            by <a href="{{ url_for('profile', user_id=post.id_user ) }}">{{ post.author }}</a></small>  
                            {% if post.author_status == 'verified' %}
                            {% if post.author_role == 'expert' %}
                                <span class="badge rounded-pill text-bg-primary">Expert</span>
                            {% elif post.author_role == 'admin' %}
                                <span class="badge rounded-pill text-bg-danger">Admin</span>
                            {% elif post.author_role == 'normal' %}
                                <span class="badge rounded-pill text-bg-warning">Genius</span>
                            {% endif %}
                        {% endif %}
                    </p>
                
                    <p class="justify-pre-wrap">{{ post.question|truncate(100, True)|safe }}</p>

                     
                        {% if post.post_pic %}
                            <img src="{{ url_for('static', filename='uploads/post/img/' + post.post_pic) }}" alt="Post Picture" id="post-image" class="img-fluid mb-2 rounded object-fit-cover w-100" style="height: 300px;">
                        {% endif %}
                        <!-- Like/Unlike button -->
                        <div class="d-flex justify-content-end">
                            <form class="like-form d-flex" method="POST" action="#">
                                                        
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                {% if post._id in user_likes %}
                                    <button type="button" class="btn bg-transparent like-button text-primary border-0 p-1" data-action="unlike" data-post-id="{{ post._id }}">
                                        <i class="bi bi-hand-thumbs-up-fill"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn bg-transparent like-button text-primary border-0 p-1" data-action="like" data-post-id="{{ post._id }}">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    </button>
                                {% endif %}
                                <p class="text-primary my-auto like-count" style="font-weight: 700;">{{ post.like_count }}</p>

                            </form>
                            <div class="d-flex">
                                <a href="{{ url_for('post_detail', post_id=post['_id'] ) }}" class="btn bg-transparent border-0 p-1"><i class="bi bi-chat-text-fill text-body-tertiary ms-2"></i></a>
                                <p class="text-body-tertiary my-auto" style="font-weight:200;">{{ post.answer_count }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    <div class="col-lg-3">
        <div class="container shadow bg-white rounded p-5">
            <input type="text" id="searchInput" class="form-control mb-4" placeholder="Find...">
            <h5>Topics</h5>
            <div class="d-block">
                <a href="{{ url_for('topics') }}" class="btn btn-secondary py-1 px-2 mb-3">
                    Others
                </a>
            {% for topic in topics[:5] %}
                <a href="{{ url_for('posts_by_topic_route', topic_name=topic['name']) }}" class="btn btn-info bg-gradient text-light py-1 px-2 mb-3">
                    {{ topic['name'] }}
                </a>
            {% endfor %}

            </div>
            <br>
            <h5>Recommendation Posts</h5>

            <div class="d-block">
                
            {% for post in recommendations %}
            
                <div>
                    <a href="{{ url_for('post_detail', post_id=post['_id'] ) }}" class="btn-link p-0 m-0">
                        {{ post['title'] }}
                    </a>
                </div>
            
            {% endfor %}

            </div>

            <br>
            <h5>Other Posts</h5>

            <div class="d-block">
                
            {% for post in posts[:5] %}
            
                <div>
                    <a href="{{ url_for('post_detail', post_id=post['_id'] ) }}" class="btn-link p-0 m-0">
                        {{ post['title'] }}
                    </a>
                </div>
            
            {% endfor %}

            </div>
        
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {% if session['user_id'] %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        var createPostInput = document.getElementById('createPostInput');
        var createInputGroup = document.getElementById('create-input-group');
        var createPostForm = document.getElementById('createPostForm');

        createPostInput.addEventListener('click', function() {
            createPostForm.style.display = 'block';
            createPostInput.style.display = 'none';
            createInputGroup.style.display = 'none';
        });

        document.addEventListener('click', function(event) {
            var isClickInside = createPostForm.contains(event.target) || createPostInput.contains(event.target);

            if (!isClickInside) {
                createPostForm.style.display = 'none';
                createPostInput.style.display = 'block';
                createInputGroup.style.display = 'block';

            }
        });

        var isExpanded = false;
        $('#post-image').click(function() {
            if (isExpanded) {
                $(this).removeClass('img-expanded').css({
                    width: '100%',
                    height: '300px'
                });
            } else {
                $(this).addClass('img-expanded').css({
                    width: 'auto',
                    height: 'auto'
                });
            }
            isExpanded = !isExpanded;
        });
        // Function to handle like/unlike button clicks
        $('.like-button').click(function() {
            var button = $(this);
            var action = button.data('action');
            var postId = button.data('post-id');
            var url = action === 'like' ? '/like_post/' + postId : '/unlike_post/' + postId;

            $.ajax({
                type: 'POST',
                url: url,
                headers: {
                    'X-CSRFToken': $('input[name="csrf_token"]').val()
                },
                success: function(response) {
                    if (response.success) {
                        button.closest('li').find('.like-count').text(response.like_count);
                        if (action === 'like') {
                            button.data('action', 'unlike').removeClass('btn-outline-secondary').addClass('btn-outline-danger').html('<i class="bi bi-hand-thumbs-up-fill"></i>');
                        } else {
                            button.data('action', 'like').removeClass('btn-outline-danger').addClass('btn-outline-secondary').html('<i class="bi bi-hand-thumbs-up"></i>');
                        }
                    } else {
                        alert(response.message);
                    }
                },
                error: function() {
                    alert('Something went wrong. Please try again.');
                }
            });
        });
    });
    </script>


    {% else %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('searchInput').addEventListener('input', function() {
            const searchValue = this.value.toLowerCase();
            const posts = document.querySelectorAll('.list-group-item');
        
            posts.forEach(post => {
                const postItem = post.querySelector('.post-item');
                const postText = postItem ? postItem.textContent.toLowerCase() : '';
        
                if (postText.includes(searchValue)) {
                    post.style.display = '';
                } else {
                    post.style.display = 'none';
                }
            });
        });
        
    </script>
    <script>
    $(document).ready(function() {
        var isExpanded = false;
        $('#post-image').click(function() {
            if (isExpanded) {
                $(this).removeClass('img-expanded').css({
                    width: '100%',
                    height: '300px'
                });
            } else {
                $(this).addClass('img-expanded').css({
                    width: 'auto',
                    height: 'auto'
                });
            }
            isExpanded = !isExpanded;
        });
        // Function to handle like/unlike button clicks
        $('.like-button').click(function() {
        window.location.href = "/login"
        });
    });
    </script>


    
    {% endif %}
{% endblock %}