{% extends "layouts/base_normal.html" %}
{% block style %}
    <style>
        .dropdown-toggle::after {
            display: none !important;
        }
        .topic-item {
            border-radius: 5px;
            text-align: left;
            transition: background-color 0.3s;
        }
        .topic-item a {
            text-align: left;
        }
    </style>
{% endblock %}

{% block title %}Topics{% endblock %}

{% block content %}
<div class="container shadow bg-white rounded p-5">
    <h2>Topics</h2>

    <!-- Search input -->
    <input type="text" id="searchInput" class="form-control mb-4" placeholder="Search topics...">

    {% if not topics %}
        <div>
            <p class="m-0"><span>No topics available</span></p>
        </div>
    {% else %}
        <div id="topicsContainer">
            {% for topic in topics %}
                <a href="{{ url_for('posts_by_topic_route', topic_name=topic['name']) }}" class="btn btn-info text-light bg-gradient py-1 px-2 mb-3 topic-item">
                    {{ topic['name'] }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const topics = document.querySelectorAll('.topic-item');
        
        topics.forEach(topic => {
            const topicName = topic.textContent.toLowerCase();
            if (topicName.includes(searchValue)) {
                topic.style.display = '';
            } else {
                topic.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
